@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.coverLink {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.checked {
    color:  #FE9013
}

.interactive {
    cursor: pointer;
}

#logo, .bigButtom, .twoOneLeft > div, .twoOneRight > div, .choose {
    background: /*linear-gradient(90deg, #F9804B, #FE9013)#ff8440f2*/ #FE9013;
}

.bigButtom{
    width: 298px;
    height: 54px;        
    border-radius: 25px;
    border: none;
    a {            
            font-size: 16px;
            text-transform: uppercase;
            line-height: 349%;
            text-align: center;
            padding-left: 5px;            
    }
}

body {
    height: 2000px;
    width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 80px 700px auto 443px;
    font-family: 'Roboto';;
}

header {
    display: inline-flex;
    background-color: black;
    justify-content: center;
    color: white;

    h1 {
            
            display: block;
            width: 82px;
            height: 52px;
            font-size: 19.1px;
            font-weight:100;
            line-height: 120%;
            border: 1px solid white;
            text-align: center;
            margin-top: 14px;
            padding-top: 3px;

        .bambuk {
                display: block;
                position: relative;
                left: 8px;
                top: -26px;
                width: 13px;
                height: 20px;
                rotate: 3deg;
        }
        a {
            position: relative;
            bottom: 67px;
        }
    }

    menu {        
        ul {
            list-style: none;
            display: inline-flex;
            width: 973px;
            padding-left: 6px;
            margin-top: 31px;

            li {
                padding-left: 58px;
                font-size: 16px;
                font-weight: 500;
            }

            li>a:hover {
                color:#FE9013
            }
        }        
    }

    .coperite {
        width: 104px;
        height: 16px;
        margin-top: 32px;
        background-size: cover;
    }
}

#logoBox {
    background-size: cover;
    background-position-y: -223px;
    color: white;
     #logo {
        
        border-radius: 50%;
        width: 465px;
        height: 465px;
        position: relative;
        left: 807px;
        top:12px;        
        #logoText {            
          width: 473.31px;
          position: relative;
          top: 73px;
          left: 89px;
        }
    }
    .bigButtom {
        position: relative;
        left: 983px;
        top: 80px;
        
    }
}

main {
    display: grid;
    grid-template-rows: 723px 1106px ;
    .one {
        background-size: 204px;
        background-repeat: no-repeat;
        background-position: right 0 top 12px;
        #backstage {
            position: relative;
            top: 140px;
            left: 219px;
            height: 403px;
            width: 1161px;        
            display: grid;
            grid-template-columns: 52.5% 40%;
            justify-content: space-between;
            div {
                width: 100%;
                height: 100%;
                color: #333B41;
                h2 {
                    font-size: 48px;
                    line-height: 119%;
                    font-weight: 100;
                }
                h2 + p {
                    margin-top: 22px;
                    line-height: 135%;
                }
                h4 {
                    margin-top: 54px;
                    font-size: 24px;
                    font-weight: 100;
                }
                h4 + p {
                    margin-top: 33px;
                    line-height: 22px;
                }
            }
            #ded {
                background-size: contain;
            }
        }
    }
    .two{
        background-repeat: no-repeat;
        background-size: 292px, 368px;
        background-position: bottom 0 left 1px, bottom 0 right 0;
        display: grid;
        grid-template-rows: 872px 234px;
        .twoOne {
            display: grid;
            grid-template-columns: auto 1158px auto;
            .twoOneCenter {
                border: solid black 1px;
            }
            .twoOneLeft, .twoOneRight {
                align-content: center;
                .left, .right {
                    border-radius: 50%;
                    width: 62px;
                    height: 62px;
                    position: relative;
                    bottom: 2px;
                    img {
                        width: 17px;
                        position: relative;
                        left: 23px;
                        top: 21px;
                    }
                }
            }
            .left {
                justify-self: right;
                right: 20px;                
                img {
                    transform: scale(-1,1);
                }
            }
            .right {
                justify-self: left;
                left: 20px;
            }
        }
        .twoTwo {
            display: grid;
            justify-content: center;
            align-content: center;
            .bigButtom{
                position: relative;
                bottom: 10px;
            }
        }
    }
    
}

footer {
background-color: black;
}
