@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 2000px;
    width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 780px auto 443px;
    font-family: 'Roboto';;
}

header {
    display: grid;
    grid-template-rows: 80px auto;
    background-size: cover;
    background-position-y: -143px;
    color: white;
    menu {
        display: inline-flex;
        background-color: black;
        justify-content: center;
        h1 {
            
            display: block;
            width: 82px;
            height: 52px;
            font-size: 19.1px;
            font-weight:100;
            line-height: 120%;
            border: 1px solid white;
            text-align: center;
            margin-top: 14px;
            padding-top: 3px;
            .bambuk {
                display: block;
                position: relative;
                left: 9px;
                top: -57px;
                width: 11px;
                height: 18px;
                rotate: 2deg;
            }
        }
        ul {
            list-style: none;
            display: inline-flex;
            width: 973px;
            padding-left: 6px;
            margin-top: 31px;
            li {
                padding-left: 58px;
                font-size: 16px;
            }
        }
        img {
            /*display: block;*/
            width: 104px;
            height: 16px;
            margin-top: 32px;
        }
    }
    #logo {
        background: linear-gradient(90deg, #F9804B, #FE9013);
        border-radius: 50%;
        width: 465px;
        height: 465px;
        position: relative;
        left: 807px;
        top:12px;        
        #logoText {            
          width: 473.31px;
          position: relative;
          top: 73px;
          left: 89px;
        }
    }
    .watch {
        position: relative;
        left: 983px;
        top: -10px;
        width: 298px;
        height: 54px;        
        border-radius: 50px;
        border: none;
        background: linear-gradient(90deg, #F9804B, #FE9013);
        
        a {
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            font-size: 16px;
            text-transform: uppercase;
            line-height: 349%;
            color: white;
            text-align: center;
            
            
            
        }
    }
}

main {
    display: grid;
}

footer {
background-color: black;
}
